.about {
  background-color: #fcc12f;
  height: 890px;
  padding: 100px;
}

.banner1 {
  left: 0 !important;
  border: none;
}

.button-1 {
  background-color: #353535;
  color: #ffffff;
  border: 0;
  font-weight: bold;
  padding: 10px;
  margin: auto;
}

.button-2 {
  background-color: #353535;
  color: white;
  border: 0;
  font-weight: bold;
  padding: 10px;
  margin: auto;
}

.about-1 {
  padding: 19px;
}

.about-2 {
  padding: 19px;
  font-weight: bold;
}
