.banner-container {
  height: 600px;
  display: flex;
}
.banner-left {
  height: 100%;
  width: 50%;
  background: url("../images/beach.png") no-repeat;
  position: relative;
  background-size: cover;
}
.content-left {
  color: white;
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 400px;
}
.content-left p,
.content-right p {
  font-size: 1.1rem;
}
.banner-right {
  height: 100%;
  width: 50%;
  background: url("../images/refinery.png") no-repeat;
  position: relative;
  background-size: cover;
}
.content-right {
  color: white;
  position: absolute;
  left: 30px;
  bottom: 30px;
  width: 400px;
}
@media only screen and (max-width: 820px) {
  .banner-left,
  .banner-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content-left,
  .content-right {
    position: relative;
  }
}
