.banner-section {
  height: 100vh;
}
.banner {
  display: flex;
  position: absolute;
}
.banner img {
  display: flex;
}
.about {
  background-color: #fcc12f;
  height: 890px;
  padding: 100px;
}

.about h2 {
  font-size: 2rem;
  font-weight: bold;
  color: black;
  padding: 0 70px;
  text-align: justify;
}

.about p {
  font-size: 1.1rem;
  padding: 0 70px;
  text-align: justify;
}

.button-1 {
  background-color: #353535;
  color: #ffffff;
  border: 0;
  font-weight: bold;
  padding: 10px;
  margin: auto;
}

.button-2 {
  background-color: #353535;
  color: white;
  border: 0;
  font-weight: bold;
  padding: 10px;
  margin: auto;
}

.about-1 {
  padding: 19px;
}

.about-2 {
  padding: 19px;
  font-weight: bold;
}
@media only screen and (max-width: 812px) {
  .banner {
    left: 0 !important;
    border: none;
  }

  .about h2 {
    padding-left: 10%;
  }
}
.banner-container {
  height: 50%;
  display: flex;
  position: relative;
}
.banner-container-1 {
  display: flex;
  position: relative;
  height: 50%;
}
.banner-left {
  height: 100%;
  width: 50%;
  background: url("../images/beach.png") no-repeat;
  position: relative;
  background-size: cover;
}
.content-left {
  color: white;
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 400px;
}
.content-left p,
.content-right p {
  font-size: 1.1rem;
}
.banner-right {
  height: 100%;
  width: 50%;
  background: url("../images/5th_photo.png") no-repeat;
  position: relative;
  background-size: cover;
}
.content-right {
  color: black;
  position: absolute;
  right: 30px;
  top: 30px;
  width: 400px;
}
@media only screen and (max-width: 820px) {
  .banner-left,
  .banner-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content-left,
  .content-right {
    position: relative;
  }
  .content-left h1,
  .content-left p {
    margin-left: 10%;
  }
  .content-right p {
    margin-right: 30%;
  }
}
