.button-1 {
  background: black;
  color: white;
  padding: 5px 15px;
  padding: 10px;
  height: 50px;
  width: 200px;
  border: none;
}

.banner-container {
  height: 100%;
  display: flex;
}
.banner-top-left {
  background: url("/public/images/Mask Group 6.png") no-repeat;
  background-size: cover;
  position: relative;
}
.banner-top-right {
  height: 100%;
  width: 50%;
  background: #fcc12f no-repeat;
  background-size: cover;
  position: relative;
}
.content-top-right {
  color: black;
  position: relative;
  padding: 100px;
}
.content-top-right h2 {
  font-family: "proxima-nova-extra-condensed";
  font-weight: 700;
  font-size: 4.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 10px;
}
.content-top-right h6 {
  font-family: "proxima-nova-extra-condensed";
  font-weight: 600;
  font-size: 1.5rem;
  position: relative;
  padding: 10px;
}

.content-top-right p {
  font-size: 1.5rem;
  font-family: "proxima-nova";

  padding: 10px;
}

/* .banner-left {
  height: 100%;
  width: 50%;
  background: url("../images/beach.png") no-repeat;
  position: relative;
  background-size: cover;
}
.content-left {
  color: white;
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 400px;
}
.content-left p,
.content-right p {
  font-size: 1.1rem;
}
.banner-right {
  height: 100%;
  width: 50%;
  background: url("../images/5th_photo.png") no-repeat;
  position: relative;
  background-size: cover;
}
.content-right {
  color: black;
  position: absolute;
  right: 30px;
  top: 30px;
  width: 400px;
} */
@media screen and (max-width: 820px) {
  .banner-top-right,
  .banner-top-left {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content-top-left,
  .content-top-right {
    position: relative;
    color: white;
  }
  /* .content-top-left h1,
  .content-top-left p {
    margin-left: 10%;
  } */
  .content-top-right h1,
  .content-top-right p {
    padding: 10px;
  }

  /* .banner-left,
  .banner-right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content-left,
  .content-right {
    position: relative;
    color: white;
  }
  .content-left h1,
  .content-left p {
    margin-left: 10%;
  }
  .content-right h1,
  .content-right p {
    margin-left: 10%; */
  /* } */
}
@media only screen and (max-width: 1755px) {
}
