.footer-wrap {
  padding-top: 70px !important;
  background-color: #110f11;
}

/* .connect h2 {
  color: white;
  padding: 100px;
  font-size: 25px;
} */

/* .footer-input {
  background-color: #110f11;
  border: none;
  width: 30%;
  height: 40px;
  background-color: #2b2a2a;
  padding: 10px;
} */

.footer-title {
  color: white;
  font-size: 20px;
  padding: 20px;
}

li {
  padding: 0.2rem;
  font-size: 2rem;
}

ul {
  padding: 0.9rem;
}

a {
  font-size: 1.5rem;
  color: #727176 !important;
  text-decoration: none !important;
}

.row-7 {
  display: flex;
  justify-content: right;
}

.row-7 p a {
  width: 110px;
  font-size: 20px;
  display: inline-block;
}
/* .footer-copyright-wrapper {
  display: "flex";
  flex-direction: row;
}
.footer-copyright-left,
.footer-copyright-right {
  width: 50%;
} */
/* .icons-group {
  display: "flex";
  flex-direction: row !important;
  justify-content: right;
} */
/* .icon {
  display: inline-block;
  width: 30px;
  padding: 20px;
} */

@media only screen and (min-width:981px) and (max-width: 1200px) {

}

@media only screen and (min-width:769px) and (max-width: 980px){
  .card-footer:last-child {
    margin-top: 70%;
  }
}

@media only screen and (min-width:641px) and (max-width: 768px) 
{
  .card-footer{
    margin-top:10% !important;;
  }
}

@media screen and (min-width: 575px) and (max-width: 640px) {
  .card-footer{
    margin-top:90% !important;;
  }
}
  
@media only screen and (max-width: 574px) 
{
  .card-footer:last-child {
    margin-top: 60%;
  }
}

@media screen and (max-width: 474px) {
  .card-footer{
    margin-top:90% !important;;
  }
}

