.heading-main {
  display: flex;
  height: 100vh;
}
.logo img {
  position: absolute;
  width: 300px;
  top: 30px;
  left: 100px;
}
p {
  margin-top: 20px;
  font-size: 20px;
  font-family: "Proxima Nova";
}
.left {
  background-color: #434343;
  color: #ffffff;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.right {
  width: 50%;
  background-image: url("../images/main.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.top {
  padding: 70px 100px 100px 100px;
  display: flex;
  flex-direction: column;
  border: 1 solid red;
}

.top h1 {
  font-size: 50px;
  line-height: 50px;
  font-family: "proxima-nova";
  font-weight: 700;
  letter-spacing: 1.16px;
  line-height: 60px;
  margin-top: 150px;
  margin-bottom: 30px;
}

/* button */

.btn-group {
  margin-top: 40px;
}
.btn-group .btn {
  padding: 0;
  margin-right: 20px;
}

button {
  display: block;
  background: #fcc12f;
  font-weight: bold;
  padding: 10px 40px;
}

/* left side/ bottom */
.bottom {
  height: 250px;
  display: flex;
}
.bottom .methane-img {
  width: 600px;
  background-image: url("../images/methane.png");
  background-size: contain;
  background-position: left;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #3263c4;
  padding: 80px;
  height: 100%;
}
.content h4 {
  font-size: 25px;
  line-height: 35px;
  margin-top: 20px;
}

@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 980px) {
}
@media only screen and (max-width: 768px) {
}
@media only screen and (max-width: 480px) {
  .heading-main {
    flex-direction: column-reverse;
    height: auto;
  }
  .logo img {
    width: 100px;
    top: 30px;
    left: 30px;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
    height: 70vh;
  }

  p {
    font-size: 15px;
  }
  .top {
    padding: 30px;
  }

  .top h1 {
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    margin-top: 0;
  }
  /* button */
  .btn-group {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
  }

  .btn button {
    background: #fcc12f;
    font-weight: bold;
    padding: 10px 20px;
    font-size: 8px;
  }

  /* bottom */
  .bottom {
    height: auto;
    width: 100%;
    flex-direction: column;
  }
  .bottom .methane-img {
    height: 300px;
  }
  .content {
    padding: 30px;
  }
  .content h4 {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }
  .content p {
    text-align: center;
  }
}
