.nav-container {
  display: flex;
  position: absolute;
  right: 30px;
  top: 20px;
}
.nav-btn {
  color: white;
  background-color: transparent;
  border: none;
}
@media (max-width: 400px) {
  .nav-container {
    position: absolute;
    top: 20px;
    flex-wrap: wrap;
  }
}
