.list-banner {
  height: 380px;
  width: 100%;
  background: linear-gradient(to right, #4A4A4A, #151515);
}

.list-banner-sub {
  background-image: url("../../../public/images/footer_photo.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: "100%";
}
.top-cards {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  z-index: 100;
  top: -10%;
}
/* .bottom-cards {
  position: absolute;
  width: 100%;
  bottom: -100px;
  display: flex;
  justify-content: space-evenly;
} */

@media only screen and (min-width:981px) and (max-width: 1200px) {
  .top-cards {
    top:10%;
  }

  .list-banner h4{
    text-align: center;
  }
}

@media only screen and (min-width:769px) and (max-width: 980px){

}

@media only screen and (min-width:641px) and (max-width: 768px) 
{
  .list-banner{
    position: relative;
  }

  .list-banner h1{
    font-size: 40px!important;
  }

  .list-banner h4{
    font-size: 20px!important;
    text-align: center;
  }
  .top-cards {
    background: none;
  }

  .list-banner-sub{
    background: none;
  }

  .top-cards{
    display: grid;
  }



}

@media screen and (min-width: 575px) and (max-width: 640px) {

}
  
@media only screen and (max-width: 574px) 
{

}

@media screen and (min-width: 376px) and (max-width: 474px) {

  .top-cards{
    display: flex;
    flex-direction: column;
  }

  .card-text h1{
    font-size: 1rem!important;
    width: 300px;
    margin-top: 30px;
  }

  .card-text h4{
    font-size: 0.8rem!important;
    width: 300px!important;
  }
}

@media  screen and (max-width: 375px) {
  .top-cards{
    display: flex;
    flex-direction: column;
  }

  .card-text h1{
    font-size: 1rem!important;
    width: 300px;
    margin-top: 30px;
  }

  .card-text h4{
    font-size: 0.8rem!important;
    width: 300px!important;
  }
}